# Out build and package
target/
*.class
*.jar
bin/
*.war
*.ear
*.iml

# IDEs and editors
.idea/*
!.idea/runConfigurations
.project
.classpath
.factorypath
.c9/
*.launch
.settings/
*.sublime-workspace

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Generated sources
src/main/java/fr/utc/parsing
src/main/resources/grammar/.antlr